body {
    font-family: "Lato", sans-serif;
    background-color: #f1f1f1;
}

.sidenav h1 {
    color: white;
    max-width: 3.8em;
    padding: 0px 8px 0px 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav div {
    margin: 20px;
    height: 70px;
    width: 200px;
    text-align: center;
    border-radius: 20%;
    background-color: white;
}

.sidenav div h1 {
    padding: 0px 0px 0px 10px;
    max-width: 180px;
    max-height: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
.sidenav button {
    position:relative;
    padding-right: 0.35em;
    padding-bottom: 0.1em;
    top: -10px; 
    border:none;
    background: darkgray;
    border-radius: 2em;
    color: red;
    font-size: 1.2em;
    left:216px;
    float:left;
}
.sidenav button:hover{
    background:red;
    color:white;
    cursor: pointer;
}
.sidenav div h1 span {
    text-decoration: none;
    text-overflow: clip;
    overflow: hidden;
    white-space: pre-wrap;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav h1:hover{
    cursor: pointer;
}
.sidenav div:hover {
    background-color: #818181;
}

.sidenav div:hover h1 span {
    color: #f1f1f1;
}

.sidenav .closebtn {
    color: #f1f1f1;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openBtn {
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .openBtn {
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    .sidenav {
        padding-top: 15px;
        width: 0px;
    }
}

@media screen and (min-width: 800px) {
    .sidenav {
        padding-top: 15px;
        width: 250px;
    }
    .openBtn {
        display: none;
    }
    .sidenav .closebtn {
        display: none;
    }
}